@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'grotesk';
  src:url('../fonts/cabinet-grotesk/CabinetGrotesk-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'grotesk';
  src:url('../fonts/cabinet-grotesk/CabinetGrotesk-Medium.otf');
  font-weight: medium;
  font-style: normal;
}
@font-face{
  font-family: 'grotesk';
  src:url('../fonts/cabinet-grotesk/CabinetGrotesk-Bold.otf');
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family: 'grotesk';
  src:url('../fonts/cabinet-grotesk/CabinetGrotesk-Extrabold.otf');
  font-weight: bolder;
  font-style: normal;
}
@font-face{
  font-family: 'grotesk';
  src:url('../fonts/cabinet-grotesk/CabinetGrotesk-Thin.otf');
  font-weight: thin;
  font-style: normal;
}

@font-face{
  font-family: 'grotesk';
  src:url('../fonts/cabinet-grotesk/CabinetGrotesk-Light.otf');
  font-weight: light;
  font-style: normal;
}

/* sofia */
@font-face{
  font-family: 'sofia';
  src:url('../fonts/sofia-pro/Sofia\ Pro\ Regular\ Az.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'sofia';
  src:url('../fonts/sofia-pro/Sofia\ Pro\ Medium\ Italic\ Az.otf');
  font-weight: medium;
  font-style: normal;
}
@font-face{
  font-family: 'sofia';
  src:url('../fonts/sofia-pro/Sofia\ Pro\ Bold\ Az.otf');
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family: 'sofia';
  src:url('../fonts/sofia-pro/Sofia\ Pro\ Black\ Az.otf');
  font-weight: bolder;
  font-style: normal;
}
@font-face{
  font-family: 'sofia';
  src:url('../fonts/sofia-pro/Sofia\ Pro\ Light\ Az.otf');
  font-weight: thin;
  font-style: normal;
}

@font-face{
  font-family: 'sofia';
  src:url('../fonts/cabinet-grotesk/CabinetGrotesk-Light.otf');
  font-weight: light;
  font-style: normal;
}